.layout {
  z-index: 1;
  .header {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .content {
    padding: 12px 50px;
    display: flex;
    flex-direction: column;
    &.full {
      padding: 0 !important;
    }
    &.fixed {
      padding: 0 !important;
      height: calc(100vh - 128px);
    }
  }

  .footer {
    text-align: center;
    margin-top: auto;
    margin-bottom: 0px;
    padding: 20px;
    font-size: 12px;
  }
}
