@import "~tabler/src/scss/tabler.scss";
@import "css-pro-layout/dist/scss/css-pro-layout.scss";
@import "../../public/remixicon/remixicon.css";
@import "_variables.scss";
@import "_layout.scss";
@import "_sidebar.scss";
@import "_menu.scss";

@import "card.scss";

*::-webkit-scrollbar {
    width: 0;
}
a{
    text-decoration: none;

    &:hover{
        text-decoration: none;
    }
}
.p {
    padding: 0;
}

h2{
    font-size: 32px;
    font-weight: 700;
}

h5{
    font-size: 20px;
    font-weight: 700;
}

h6{
    font-size: 16px;
    font-weight: 600;
}

.text-sm {
    font-size: 12px;
}

.text-xs {
    font-size: 10px;
}

.text-yellow {
    color: #e4c049 !important;
}

.bg-yellow{
    background: #e4c049 !important;
    color: #000;
}

.ml-1 {
    margin-left: 5px;
}

@media (max-width: $breakpoint-lg) {
#btn-collapse {
    display: none;
}
}

.layout {
.sidebar {
    width: $sidebar-width;
    flex-shrink: 0;
    .sidebar-layout{
        color: #fff;
    }
    .sidebar-header {
    display: flex;
    align-items: center;
    gap: 1em;

    > div {
        width: 35px;
        min-width: 35px;
        height: 35px;
        min-height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        color: white;
        font-size: 24px;
        font-weight: 700;
        background-color: #ff8100;
        margin-right: 10px;
    }

    > h5 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 20px;
        line-height: 30px;
        transition: opacity 0.3s;
        opacity: 1;
    }
    }

    .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8em;
    padding: 20px 0;
    border-radius: 8px;
    width: 180px;
    min-width: 190px;
    margin: 0 auto;
    background-color: #162d4a;
    img.react-logo {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }
    a {
        color: #fff;
        font-weight: 600;
        margin-bottom: 10px;
    }
    }

    .sidebar-collapser {
    transition: left, right, 0.3s;
    position: fixed;
    left: calc(#{$sidebar-width} - 20px);
    top: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #205295;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    transform: translateX(50%);
    z-index: 111;
    cursor: pointer;
    color: white;
    box-shadow: 1px 1px 4px $bg-color;
    }

    &.has-bg-image {
    .footer-box {
        background-color: rgba(#162d4a, 0.7);
    }
    }

    &.collapsed {
    .footer-box {
        display: none;
    }
    .sidebar-collapser {
        left: calc(#{$sidebar-collapsed-width} - 20px);
        i {
        transform: rotate(180deg);
        }
    }
    }
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);

    .menu-header{
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;

            li{
                a{
                    display: inline-block;
                    margin: 0 1em;
                }
            }
        }
    }
}
}

.layout.fixed-header.fixed-sidebar{
.header{
    width: calc(100% - $sidebar-width);
    z-index: 4;
}
}

.header-app{
    background: rgb(0,0,0,.75);
    border: none;
    -webkit-box-shadow: 0px 10px 50px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 10px 50px 0px rgba(0,0,0,1);
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,1);
    .nav-link-icon{
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-link-title{
        color: #fff;
    }

    .menu-header{
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;

            li{
                a{
                    display: inline-block;
                    margin: 0 1em;
                }
            }
        }
    }
}

.breadcrumbs{
display: flex;
align-items: center;
gap: 1em;

h5{
    margin: 0;
}
}

.badge {
display: inline-block;
padding: 0.25em 0.4em;
font-size: 75%;
font-weight: 700;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: 0.25rem;
color: #fff;
background-color: #6c757d;

&.primary {
    background-color: #ab2dff;
}

&.secondary {
    background-color: #079b0b;
}
}

.table-title{
    background: #0A2647;
    color: #fff;
    padding: 1em;
    border-radius: 8px;

    h6{
        margin: 0;
    }
}

.sidebar-toggler {
position: fixed;
right: 20px;
top: 20px;
}

.bridge-area{
    position: relative;
    background: #0A2647;
    color: #fff;
    height: 100%;

    .card {
        background: rgb(0 0 0 / 70%) !important;
        border: none;
        border-radius: 16px;
        .card-header{
            color: #FDD751;
            border: none;
            display: flex;
            align-items: center;
            gap: 1em;
            .card-title{
                text-transform: uppercase;
            }
        }
        .card-body{
            color: #fff;
        }
    }
    .card-status{
        display: flex;
        align-items: center;
        gap: .5em;
        .status-box{
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 20px;
            background: #ddd;
        }
        .bg-online{
            background-color: #12CA19;
            animation: bipbip .5s infinite linear;
        }
    }
    .fixed-top{
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 7em;
        padding-bottom: 1em;
        background: #0b2547;
        z-index: 1029;
        align-items: center;
    }
}

.table-overview{
    border-color: #fff;
    td{
        border-right: 1px solid #fff;
        vertical-align: middle;

        &:last-child{
            border-right: none;
        }

        &:first-child{
            border-right: 1px solid #fff;
        }
    }
}

.performanceDate{
    text-align: center;
    .vue-daterange-picker{
        background: transparent;
        border-bottom: 1px solid #fff;
        .reportrange-text{
            background: transparent;
            border: none!important;
            padding-left: 20px!important;
            position: relative;
            &:before{
                content: '';
                display: block;
                width: 18px;
                height: 18px;
                background: transparent url('../../public/img/icons/date-light.png') no-repeat center center;
                position: absolute;
                left: 0;
            }
        }
    }
}

.content-scrolled{
padding-top: 14em;
overflow: hidden;
.sidebar {
    background: transparent;
    transition: all ease .1s;
    max-width: 1000px;
    width: 350px;
    border-right: 1px solid #fff;
    position: sticky;
    height: calc(100vh - 195px);
    .list-group{
        .list-group-item{
            background: transparent;
            border: 0;
            border-bottom: 1px solid #fff;
            padding: 0;
            a{
                display: flex;
                align-items: center;
                gap: 1em;
                color: #fff;
                padding: 1em 1.5em;
                &:hover{
                    color: #e9c44a;
                }
            }
            &:first-child {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
            &:last-child {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                margin-bottom: 200px;
            }
        }
    }
    &:hover{
        overflow-y: auto!important;
    }
}

.sidebar.collapsed {
    max-width: 0;
    overflow: hidden;
    + .btn-sidebar{
        img{
            transform: rotate(180deg);
        }
    }
    + .side-content{
        width: calc( 100% - 50px );
    }
}
.sidebar.collapsed ~ .side-content{
    width: calc( 100% - 0px );
}
.side-content{
    width: calc( 100% - 350px );
    padding-left: 2em;
    transition: all ease .5s;
    height: calc(100vh - 195px);
    &:hover{
        overflow-y: auto!important;
    }
}
.btn-sidebar{
    background: #0b2547;
    border: none;
    width: 24px;
    height: 100px;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    // position: absolute;
    // top: 50%;
    // transform: translateY(50px);
    transform: translate(-1px, 250px);
    border-radius: 0 20px 20px 0;
}
}


@keyframes bipbip {
    0% {
      background-color: #12CA19;
  }
    50% {
      background-color: #149618;
  }
    100% {
      background-color: #12CA19;
  }
  }