.dark {
    &.card {
        background: rgba(0,0,0,0.62) !important;
        border: none !important;
        .card-title {
            color: #FFF;
        }
        .card-actions {
            .icon {
                color: #fff;
            }
        }
        .card-header.search {
            .form-control {
                background-color: rgba(255,255,255,0.62);
                color: #fff;
            }
        }
        .card-body {
            color: #fff;
            .text-muted {
                color: #a9a9a9;
            }
        }
    }
}

.action-edit {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}